# PANDAS TIPS & TRICS

In [17]:
import plotly.express as px
import pandas as pd
from pathlib import Path

aer_file_name = 'csv.csv'

df = pd.read_csv ( aer_file_name , on_bad_lines = 'skip' , delimiter = ',' )
df [ 'column1' ] = pd.to_numeric ( df [ 'column1' ] , errors = 'coerce' )
df.dropna ( subset = [ 'column0' , 'column1' ] , inplace = True )
df.info ()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column0  10 non-null     object
 1   column1  10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes

(10, 2)

In [18]:
df .head ( 2 )

  column0  column1
0  item00        1
1  item10       11

In [19]:
df .tail ( 2 )

  column0  column1
8  item80       81
9  item90       91

In [20]:
df [ 'column0' ] .head ( 2 )

0    item00
1    item10
Name: column0, dtype: object

`.loc[]` - access a group of rows and columns by label(s) or a boolean array. It is primarily label based, but may also be used with a boolean array.

In [21]:
df .loc [ 8 ]

column0    item80
column1        81
Name: 8, dtype: object

## PANDAS FILTERING AND ORDERING

In [22]:
df [ df [ 'column1' ] > 80 ]

  column0  column1
8  item80       81
9  item90       91

In [23]:
some_items = [ 'item00' , 'item90' ]
df [ df [ 'column0' ] .isin ( some_items ) ]

  column0  column1
0  item00        1
9  item90       91

In [24]:
df [ df [ 'column0' ] .str.contains ( 'item0' ) ]

  column0  column1
0  item00        1